@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    font-family: monospace;
    font-weight: 400;
    line-height: 48px;
    text-align: left;
    text-align: center;
    font-size: 20px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background:#f2c4bd;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-bottom: 50px;
    margin-left: 60px;
    padding: 10px;
    margin: auto;
}

.logo{
   padding-top: 6px;
   margin-left: 10px;
   display: flex;
   align-items: center;
}

.logo img{
    height: 50px;
}

.logo h1{
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    color: #090909;
    text-decoration: underline;
}

.contenedor{
    display: flex;
    gap: 100px;
}

.texto{
    background: #f2c4bd;
    border: none;
    color: #050505;
    margin-top: 80px;
    text-transform: lowercase;
    resize: none;
    width: 666px;
}

::placeholder{
    color: #050505;
    text-transform:initial; 
}

.texto:focus{
    outline: none;   
}

.contenedor-mensaje{
    background: #eff1f4;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    width: 400px;
    padding: 2px;  
}

.mensaje{
    background-color:#eff1f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
}

.mensaje img{
    display: flex;
    justify-content: center;
    align-self: center;
    background: transparent;
    height: 250px;
    width: 300px;
}

.mensaje h2{
    background-color: #eff1f4;
    color: #050505;
    font-size: 25px;
    font-family:'Arial', sans-serif ;
}

.mensaje p{
    background-color: #eff1f4;
    color: #050505;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    padding: 2px;
}

.resultado{
    background: transparent;
    border-radius: 24px;
    height: 250px;
    width: 383px;
    padding: 8px;
    border: none;
    resize: none;
}

.resultado:focus{
    outline: none;
    border: none;
}

.botones{
    display: flex;
    margin-top: 18px;
    gap: 10px; 
}

.btn-cifrador{
    background-color: #FF725E;
    border: #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-cifrador:hover{
    background-color: #fa8171;
}

.btn-descifrador{
    background: #eff1f4;
    border: #0a3871;
    border-radius: 24px;
    color: #050505;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-descifrador:hover{
    background-color: #c6ccd5;
}

.contenedor-btn{
    background: transparent;
    padding: 8px;
}

.btn-copiar{
    border: 1px solid #FF725E;
    border-radius: 24px;
    background-color: #FF725E;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 380px;
}

.btn-copiar:hover{
    background-color: #fa8171;
}

.informacion h6{
    color: #050505;
    font-size: 15px;
    text-align: left;
}

.pie-de-pagina{
    display: flex;
    justify-content: center;
    color: rgb(7, 7, 7);
    padding:8px;
    font-family: 'Arial', sans-serif;
}

/* Estilo personalizado para la alerta */
.mi-alerta {
    background-color: #f8e8e6;
    color: #333; 
    border-radius:10px;
    width: 450px;
}

.titulo-alerta {
    background-color: #f8e8e6;
    color: #333; 
    border: none;
   
}

.boton-cerrar {
    background: linear-gradient(45deg, #ff725e, #ff9580);
    color: #faf7f7;
    font-size: 18px;
    border-radius: 20%;
    padding: 5px;
    margin: 10px;
    transition: 0.3s;
}

.boton-cerrar:hover {
    background: linear-gradient(45deg, #ff725e, #ff9580);
    color: #faf7f7;
    font-size: 18px;
    border-radius: 20%;
    padding: 5px;
    margin: 10px;
    transition: 0.3s;
}

.warning {
    font-size: 10px;
    background: red;
    background-color: #fbf5f5;
    border-radius: 50%;
    padding: 35px;
    border: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.warning .swal2-icon-content{
    font-size: 60px;
    color: #e32222;
}

/*Estilo personalizado para el alerta de copiado*/
.mi-alerta {
    background-color: #f8e8e6;
    color: #333; 
    border-radius:10px;
    width: 450px;
}


.boton-cerrar-success {
    background: linear-gradient(45deg, #ff725e, #ff9580);
    color: #faf7f7;
    font-size: 18px;
    border-radius: 20%;
    padding: 5px;
    margin: 10px;
    transition: 0.3s;
}

.boton-cerrar-success:hover {
    background: linear-gradient(45deg, #ff725e, #ff9580);
    color: #faf7f7;
    font-size: 18px;
    border-radius: 20%;
    padding: 5px;
    margin: 10px;
    transition: 0.3s;
}

.boton-continuar{
    background: #ff725e;
    border-radius: 20px;
}

.success {
    font-size: 10px;
    color: green;
    border-radius: 50%;
    padding: 35px;
    border: none;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.success .swal2-icon-content{
    font-size: 60px;
    color: green;
}


/*tablets*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) 
and (orientation : landscape) {

    .logo img{
       height: 50px;
    } 
    
    .logo h1{
       font-size: 28px; 
    }

     .contenedor{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 50px;
     }
    
     .texto{
       text-align: center;
       height: 150px;
       width: 745px;
     } 

     .informacion h6{
       font-size: 16px; 
     }

     .botones{
        display: flex;
        gap: 15px;
     }

     .btn-cifrador{
        width: 365px;
     }

     .btn-descifrador{
        width: 365px;
     }

     .contenedor-mensaje{
        width: 745px;   
     }

     .mensaje img{
        display: none;
     }

     .resultado{
        width: 735px;
        height: 100px;
        margin-top: 10px;
     }

     .btn-copiar{
        width: 735px;
     }

     .pie-de-pagina p{
        font-size: 18px;
     }
}

/*tablets*/
@media (min-width: 481px) and (max-width: 767px) {

    .logo img{
        height: 40px;
    } 
    
    .logo h1{
        font-size: 25px; 
    }

    .contenedor{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
    
    .texto{
        text-align: center;
        height: 150px;
    }

    .informacion h6{
        font-size: 15px;  
    }

    .botones{
        display: flex;
        gap: 5px;
    }

    .contenedor-mensaje{
        width: 660px;  
    }

    .mensaje img{
        display: none;
    }

    .resultado{
        width: 480px;
        height: 100px;
        margin-top: 25px;
    }

    .btn-copiar{
        width: 100vmax;
    }

    .pie-de-pagina p{
        font-size: 12px;
    }

  }
/* smartphones*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .logo img{
        height: 40px;
    } 
    
    .logo h1{
       font-size: 20px; 
    }

    .contenedor{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 50px;
    }
    
    .texto{
        text-align: center;
        height: 150px;
        width: 300px;
     } 

    .informacion h6{
       font-size: 12px;  
    }

    .botones{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .btn-cifrador{
        width: 300px;
    }

    .btn-descifrador{
        width: 300px;
    }

    .contenedor-mensaje{
        width: 295px;
    }

    .mensaje img{
        display: none;
    }

    .resultado{
        width: 280px;
        margin-top: 50px;
    }

    .btn-copiar{
        width: 280px;
    }

    .pie-de-pagina p{
        font-size: 12px;
    }

  }